section {
  color: pink;
}

p {
  color: brown;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: small;
}

h1 {
  font-size: 60px;
  color: red;
}

h2 {
  font-size: 40px;
  color: blue;
}
